.tituloC{
    text-align: center;
    font-size: 24px;
    padding: 16px;
    color: rgba(20, 19, 19, 0.781);
}
main{
    padding-bottom: 300px;
}
.table{
    background-color: aliceblue;
    margin: 15px;
    padding: 20px;
}
.sesion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.cliente{
    padding-top: 10px;
}
